<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Admin API</display-name>
        <web-resource-collection>
            <web-resource-name>Configuration</web-resource-name>
            <description/>
            <url-pattern>/api/configuration/*</url-pattern>
            <url-pattern>/api/management/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Statistics</web-resource-name>
            <description/>
            <url-pattern>/api/statistics/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>listener</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Hooks and Events API</display-name>
        <web-resource-collection>
            <web-resource-name>Events Broadcast</web-resource-name>
            <description/>
            <url-pattern>/api/events/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Persistent Callback API</web-resource-name>
            <description/>
            <url-pattern>/api/hooks/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>File Access</web-resource-name>
            <description/>
            <url-pattern>/api/files/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>listener</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ftpRealm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>A FTP user</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>This role is allowed to setup hooks and listen to FTP events</description>
        <role-name>listener</role-name>
    </security-role>
</web-app>
